In [1]:
import pandas as pd
import numpy as np
import os
import sklearn

In [2]:
#assign always returns a copy of the data, leaving the original DataFrame untouched.
#df.columns = [x.lower() for x in df.columns]

In [70]:
df = pd.read_csv("COVID19WW.csv")

## Treat NAN values

In [71]:
df.isnull().sum()

country                         0
country_code                    0
year_week                       0
source                          0
new_cases                      23
number_sequenced                0
percent_cases_sequenced        23
valid_denominator               0
variant                         0
number_detections_variant       0
percent_variant              4602
dtype: int64

In [72]:
df_null = df[df['new_cases'].isna()]
df_null

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
24202,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.1.7,703,58.8
24203,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.1.7+E484K,0,0.0
24204,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.351,10,0.8
24205,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.427/B.1.429,1,0.1
24206,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.525,2,0.2
24207,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.526,0,0.0
24208,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.616,0,0.0
24209,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617,0,0.0
24210,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.1,0,0.0
24211,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.2,0,0.0
24212,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.3,0,0.0
24213,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.620,0,0.0
24214,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.621,0,0.0
24215,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,C.37,0,0.0
24216,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,P.1,2,0.2
24217,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,P.3,0,0.0
24218,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,Other,477,39.9
24629,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.1.7,682,68.3
24630,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.351,4,0.4
24631,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.525,1,0.1
24632,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,P.1,2,0.2
24633,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,UNK,65,6.5
24634,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,Other,244,24.4

In [89]:
df2 = pd.concat([df[['country','year_week','new_cases']].ffill(), df[['country','year_week','new_cases']].bfill()]).groupby(['country','year_week']).mean()
df2.reset_index(inplace = True)

In [91]:
df2[(df2["country"]=="Spain")]

     country year_week  new_cases
1176   Spain   2020-40    65146.0
1177   Spain   2020-41    75556.0
1178   Spain   2020-42    85481.0
1179   Spain   2020-43   123871.0
1180   Spain   2020-44   142377.0
1181   Spain   2020-45   140521.0
1182   Spain   2020-46   115646.0
1183   Spain   2020-47    85752.0
1184   Spain   2020-48    65571.0
1185   Spain   2020-49    54141.0
1186   Spain   2020-50    49556.0
1187   Spain   2020-51    67365.0
1188   Spain   2020-52    60164.0
1189   Spain   2020-53    79431.0
1190   Spain   2021-01   152938.0
1191   Spain   2021-02   224669.0
1192   Spain   2021-03   256931.0
1193   Spain   2021-04   229423.0
1194   Spain   2021-05   166280.0
1195   Spain   2021-06    97201.0
1196   Spain   2021-07    67685.0
1197   Spain   2021-08    51494.0
1198   Spain   2021-09    35303.0
1199   Spain   2021-10    34092.0
1200   Spain   2021-11    33741.0
1201   Spain   2021-12    42022.0
1202   Spain   2021-13    40500.0
1203   Spain   2021-14    58931.0
1204   Spain   2021-15    58098.0
1205   Spain   2021-16    60115.0
1206   Spain   2021-17    51961.0
1207   Spain   2021-18    40962.0
1208   Spain   2021-19    34468.0
1209   Spain   2021-20    31660.0
1210   Spain   2021-21    30870.0
1211   Spain   2021-22    29133.0
1212   Spain   2021-23    34244.0
1213   Spain   2021-24    22884.0
1214   Spain   2021-25    27991.0
1215   Spain   2021-26    73833.0
1216   Spain   2021-27   104649.0
1217   Spain   2021-28   190726.0

In [110]:
df2.groupby(['country'])['new_cases'].agg('sum')
df2

      country year_week  new_cases
0     Austria   2020-40     5152.0
1     Austria   2020-41     7365.0
2     Austria   2020-42     9574.0
3     Austria   2020-43    16979.0
4     Austria   2020-44    28574.0
...       ...       ...        ...
1255   Sweden   2021-24     2840.0
1256   Sweden   2021-25     1980.0
1257   Sweden   2021-26     1864.0
1258   Sweden   2021-27     1508.0
1259   Sweden   2021-28     1858.0

[1260 rows x 3 columns]

In [121]:
xx = df2.groupby('country').sum(axis=0)
xx.reset_index(inplace = True)

TypeError: sum() got an unexpected keyword argument 'axis'

In [118]:
xx

          country  new_cases
0         Austria   605893.0
1         Belgium   988248.0
2        Bulgaria   402910.0
3         Croatia   345416.0
4          Cyprus    89500.0
5         Czechia  1606548.0
6         Denmark   280307.0
7         Estonia   128682.0
8         Finland    90474.0
9          France  5315654.0
10        Germany  3459895.0
11         Greece   439868.0
12        Hungary   784148.0
13        Iceland     4095.0
14        Ireland   249490.0
15          Italy  3977588.0
16         Latvia   136483.0
17  Liechtenstein     2952.0
18      Lithuania   275529.0
19     Luxembourg    64402.0
20          Malta    29609.0
21    Netherlands  1693638.0
22         Norway   120931.0
23         Poland  2794161.0
24       Portugal   858936.0
25        Romania   959005.0
26       Slovakia   769845.0
27       Slovenia   252936.0
28          Spain  3493382.0
29         Sweden  1002085.0

In [115]:
xx.iloc[1170:1220]

Empty DataFrame
Columns: [index, country, new_cases]
Index: []

In [76]:
df[(df["country"]=="Spain")]

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
23845,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.1.7,0,0.0
23846,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.1.7+E484K,0,0.0
23847,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.351,0,0.0
23848,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.427/B.1.429,0,0.0
23849,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.525,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
24787,Spain,ES,2021-27,TESSy,104649.0,73,0.1,Yes,UNK,3,4.1
24788,Spain,ES,2021-27,TESSy,104649.0,73,0.1,Yes,Other,15,20.5
24789,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.1.7,1,50.0
24790,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.617,0,0.0
24791,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.617.2,1,50.0

In [75]:
df2[(df2["country"]=="Spain")]

,country,year_week,new_cases,number_sequenced,percent_cases_sequenced,number_detections_variant,percent_variant
1176,Spain,2020-40,65146.0,224.500000,0.340000,14.400000,9.995000
1177,Spain,2020-41,75556.0,216.800000,0.270000,15.800000,10.000000
1178,Spain,2020-42,85481.0,310.000000,0.323810,19.000000,9.528571
1179,Spain,2020-43,123871.0,195.736842,0.178947,12.210526,10.526316
1180,Spain,2020-44,142377.0,134.250000,0.085000,9.050000,10.005000
1181,Spain,2020-45,140521.0,171.200000,0.085000,11.800000,9.995000
1182,Spain,2020-46,115646.0,176.210526,0.178947,10.736842,10.526316
1183,Spain,2020-47,85752.0,170.700000,0.170000,10.700000,9.995000
1184,Spain,2020-48,65571.0,125.250000,0.185000,8.850000,9.995000
1185,Spain,2020-49,54141.0,295.105263,0.568421,24.000000,10.526316
1186,Spain,2020-50,49556.0,390.900000,0.755000,33.000000,10.000000
1187,Spain,2020-51,67365.0,485.300000,0.755000,43.000000,10.000000
1188,Spain,2020-52,60164.0,383.523810,0.638095,39.238095,9.528571
1189,Spain,2020-53,79431.0,629.150000,0.770000,55.950000,10.000000
1190,Spain,2021-01,152938.0,601.250000,0.400000,58.550000,9.995000
1191,Spain,2021-02,224669.0,966.095238,0.400000,85.523810,9.523810
1192,Spain,2021-03,256931.0,1400.714286,0.561905,117.571429,9.519048
1193,Spain,2021-04,229423.0,1358.826087,0.547826,108.739130,8.700000
1194,Spain,2021-05,166280.0,1380.952381,0.842857,117.428571,9.519048
1195,Spain,2021-06,97201.0,1136.142857,1.142857,99.095238,9.528571
1196,Spain,2021-07,67685.0,1259.333333,1.866667,105.904762,9.523810
1197,Spain,2021-08,51494.0,1143.608696,2.617391,95.347826,8.691304
1198,Spain,2021-09,35303.0,1226.318182,3.440909,104.863636,9.100000
1199,Spain,2021-10,34092.0,1236.125000,3.612500,101.291667,8.341667
1200,Spain,2021-11,33741.0,1145.000000,3.404167,99.583333,8.337500
1201,Spain,2021-12,42022.0,1450.208333,3.445833,124.375000,8.329167
1202,Spain,2021-13,40500.0,1408.583333,3.475000,122.000000,8.333333
1203,Spain,2021-14,58931.0,1326.307692,2.234615,102.923077,7.696154
1204,Spain,2021-15,58098.0,1540.391304,2.673913,133.739130,8.700000
1205,Spain,2021-16,60115.0,1168.538462,1.938462,92.538462,7.696154
1206,Spain,2021-17,51961.0,1286.925926,2.440741,91.851852,7.407407
1207,Spain,2021-18,40962.0,1326.555556,3.229630,94.000000,7.411111
1208,Spain,2021-19,34468.0,1184.653846,3.457692,88.346154,7.688462
1209,Spain,2021-20,31660.0,1053.846154,3.319231,86.461538,7.692308
1210,Spain,2021-21,30870.0,1095.269231,3.550000,88.807692,7.688462
1211,Spain,2021-22,29133.0,1071.730769,3.650000,86.807692,7.684615
1212,Spain,2021-23,34244.0,852.923077,2.476923,68.615385,7.684615
1213,Spain,2021-24,22884.0,727.461538,3.176923,57.923077,7.692308
1214,Spain,2021-25,27991.0,637.200000,2.284000,55.800000,7.996000
1215,Spain,2021-26,73833.0,475.384615,0.607692,41.846154,7.688462
1216,Spain,2021-27,104649.0,42.695652,0.026087,4.565217,8.691304
1217,Spain,2021-28,190726.0,0.300000,0.000000,0.100000,6.445000

In [69]:
df2.loc[df2['country'] == "Spain", 'new_cases'].sum()

3493382.0

In [ ]:
#df.fillna(df.mean().astype(int))
#df.new_cases.mean().astype(int)

## Add column with the sum of cases